/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7 /* Font Style */
{
 font-size: 14pt;
 font-weight: bold;
 color: #365f91;
}
span.rvts8 /* Font Style */
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #ffffff;
 text-transform: uppercase;
}
span.rvts9
{
 font-size: 11pt;
 font-family: 'arialmt';
}
span.rvts10
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts11
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts13, span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts14 /* Font Style */
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 text-transform: uppercase;
}
span.rvts15 /* Font Style */
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts16
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 text-decoration: underline;
}
span.rvts17
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'calibri';
 text-decoration: underline;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
 background-color: #ffffff;
}
span.rvts20
{
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
span.rvts21
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #000000;
}
span.rvts22
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 text-decoration: underline;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts24
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts25
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 color: #007bbf;
}
span.rvts26
{
 font-family: 'calibri';
}
span.rvts27
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
 font-weight: bold;
 color: #007bbf;
 text-transform: uppercase;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
 color: #007bbf;
}
a.rvts29, span.rvts29
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts29:hover { color: #0000ff; }
span.rvts30
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
}
a.rvts31, span.rvts31
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts31:hover { color: #0000ff; }
span.rvts32
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts33
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 text-decoration: underline;
}
span.rvts34
{
 font-size: 11pt;
 font-family: 'Calibri';
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3 /* Paragraph Style */
{
}
.rvps4 /* Paragraph Style */
{
 background: #0080c0;
}
.rvps5
{
 text-align: justify;
 margin: 1px 0px 1px 0px;
}
.rvps6 /* Paragraph Style */
{
 text-align: justify;
 margin: 5px 0px 5px 0px;
}
.rvps7 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps8 /* Paragraph Style */
{
 background: #c6e2ff;
}
.rvps9
{
 text-align: justify;
 margin: 5px 0px 4px 0px;
}
.rvps10
{
 text-align: justify;
 margin: 5px 0px 4px 0px;
}
.rvps11
{
 text-align: justify;
}
.rvps12
{
 text-align: justify;
 margin: 4px 0px 4px 0px;
}
.rvps13
{
 text-align: center;
}
.rvps14
{
 background: #66c9ff;
}
.rvps15
{
 text-align: center;
 margin: 5px 0px 5px 0px;
}
.rvps16
{
 text-align: justify;
 margin: 0px 0px 0px 47px;
}
.rvps17
{
 text-align: center;
 background: #00a5ff;
 margin: 5px 0px 5px 0px;
}
.rvps18
{
 text-align: justify;
 text-indent: -24px;
 margin: 5px 0px 5px 48px;
}
.rvps19
{
 text-align: justify;
 text-indent: -24px;
 margin: 5px 0px 5px 96px;
}
.rvps20
{
 text-align: justify;
 margin: 5px 0px 5px 24px;
}
.rvps21
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps22
{
 line-height: 1.15;
 margin: 0px 0px 13px 24px;
}
.rvps23
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
